<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <ul>
      <li id="brand"><a routerLink="/" class="nav-link">Y-100 Final Project</a></li>
      <li><a routerLink="/final" class="nav-link">Final Thoughts</a></li>
      <li><a routerLink="/test" class="nav-link">Test</a></li>
      <li><a routerLink="/ideate" class="nav-link">Ideate</a></li>
      <li><a routerLink="/design" class="nav-link">Design</a></li>
      <li><a routerLink="/insight" class="nav-link">Insight</a></li>
    </ul>
  </nav>

  <div class="tabBox">
      <h1 class="glitch">Y-100 Final Project</h1>
      </div>

<router-outlet></router-outlet>
