<div class="infoBox">
    <h1>Design</h1>
    <p>My current plans academically is to graduate with a bachelor's degree in Computer Science with a specialization in software engineering or AI. I do have a plan to get an MBA after my bachelors however that may not be a realistic plan becuase of the time and money required for it.</p>
    <br />
    <p>My future career plan are to get a job. Preferably start with a startup but also apply to facebook and microsoft. I plan on being a fullstack developer and if not most likely front end developer. Over the summer I also plan to get some internships. This summer I have one at my dad's company INDOT but I am hoping to get a job at UITS.</p>
    <br />
    <p>The insight I have gained from this course applies to my career plans especially from the resume information and linkedin profiles. Also the tech career profile helped me gain information on the types of jobs available for my degree, finally the SICE career fair helped me alot with those career plans and had myself get introduced to alot of companies.</p>
</div>
