/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/assets/Screenshot\ \(19\).png");
    background-repeat: no-repeat;
    background-position: center;
    height:100%; 
    color: white;
    font-family: 'Poppins', sans-serif;
}